@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1250px;
  height: auto;
  padding: 20px 0;
}

/* Wishlist */
.wishlist__header {
  display: flex;
  justify-content: space-between;
}

.menu__link {
  width: 100px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid #e5e7ebff;
  color: rgb(106, 103, 107);
}
.menu__link:active .menu__link-icon {
  transform: translateX(-10px);
  font-size: 0.8rem;
}
.menu__link-icon {
  margin-bottom: 2px;
  font-size: 1.8rem;
  transition: all 1.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlist__main {
  width: 1200px;
  height: 500px;
  /* border: 1px solid red; */

  display: flex;
  flex-wrap: wrap;
}

.wishlist__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.wishlist__product-ocunt {
  width: 25px;
  height: 20px;
  margin-left: 10px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgba(187, 241, 120, 0.835);
}

.btns__plus {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: rgb(106, 103, 107);
  background-color: #e2e8f0ff;
}
.btns__plus:hover {
  background-color: rgb(98, 98, 99);
  color: white;
}
.btns__minus {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: rgb(106, 103, 107);
  background-color: rgb(249, 206, 206);
}
.btns__minus:hover {
  background-color: rgb(190, 56, 56);
  color: white;
}
button:disabled,
button[disabled]{
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #f3f2f2;
  color: #666666;
  visibility: visible;
  cursor: default;
}
.delete__btn {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 7px;

  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(106, 103, 107);
  border: 1px solid rgba(106, 103, 107, 0.51);
}
.wishlist__empty-text {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  color: #96979a;
}

/* Filter */
.drawer__btn {
  width: 70px;
  height: 50px;
  margin-left: 10px;

  display:  none;

  border: 1px solid rgba(128, 128, 128, 0.487);
}
.filter-form {
  position: relative;
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  color: rgb(125, 125, 125);

  display:flex;
}
.filter-form input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  border: 1px solid rgba(177, 177, 177, 0.625);
}
.search-icon svg {
  position: absolute;
  left: 12px;
  top: 13px;
}

/* Nav-Bar */
.nav-bar {
  margin-bottom: 20px;
}
.nav-bar__all-link {
  width: 100%;
  height: 100%;
  cursor: default;
}
.nav-bar__all-link:focus {
  background-color: #3b82f6ff;
  color: #fff;
}
.nav-bar ul {
  width: 100%;
  display: flex;
  align-items: center;

  transition: all 0.3s ease;
}
.nav-bar ul li {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: default;
  border: 1px solid #d9dfe7ff;
  margin-right: 10px;
}
.list__transform-off {
  transform: translateY(-100%);
}
.list__transform-on {
  transform: translateY(0);
}
.nav-bar-item-box {
  overflow: hidden;
  width: auto;
  height: 43px;
}
.new__category {
  width: 100%;
  text-align: center;
}

/* Cart */
.cart {
  width: 70px;
  height: 40px;
  padding: 0 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid #d9dfe7ff;
  border-radius: 10px;
}
.cart svg {
  color: #d9dfe7ff;
}
.cart-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;

  background-color: rgba(255, 0, 0, 0.671);
}


/* Modal */
.btn__close-modal {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(162, 162, 162, 0.517);
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Simple Item */
.simple-item__contain {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #71707061;
  backdrop-filter: blur(2px);
}
.simple-item {
  width: 900px;
  height: 400px;
  border: 1px solid rgba(164, 163, 163, 0.337);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  background-color: #fff;
}
.simple-item__img-box {
  flex: 1;
  overflow: hidden;
  
}
.simple-item__img-box img {
  transform: scale(1) !important;
}
.simple-item__text {
  padding: 20px 20px;
  flex: 1;
}
.simple-item h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.simple-tem__summa {
  text-align: center;
  margin: 10px 0;
}
.simple-tem__summa span {
  padding: 2px 10px;

  border-radius: 10px;
  color: #9C3816FF;
  background-color: #FFEDD5FF;
}
.simple-item__description {
  margin-top: 2px;
  height: 200px;
  padding: 10px;
  color: rgba(23, 23, 23, 0.705);
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 3px;
}



/* Main */
.main__container {
  width: 1200px;
  height: 400px;
  overflow: auto;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

/* Item */
.item {
  width: 350px;
  height: 80px;
  padding: 10px;
  margin: 5px 10px 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d9dfe7ff;
  border-radius: 5px;
}
.item__img-box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.item img {
  transition: all 0.2s ease-in;
}
.item img:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.item-title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}
.item-text {
  flex: 1;
  margin: 0 10px;
}
.item-desc {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 12px;
}


.selected {
  background-color: #3b82f6ff;
  color: #fff;
}

/* Loader NavBar */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #101010;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
    opacity: 0.8;
  }
}

/* Glob Loader*/
.loader-container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.glob__loader-text {
  margin-top: 10px;
  font-size: 1rem;
  color: rgb(43, 43, 43);
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(7, 7, 7);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.4);
    opacity: 0.5;
  }
}


/* Media */
@media screen and (max-width: 1220px) {
  .container {
    width: 100%;
    padding: 20px 10px;
  }
  .main__container {
    width: 100%;
  }
  .wishlist__main {
    width: 100%;
  }
  .simple-item__contain {
    padding: 20px 10px;
  }
 
}
@media screen and (max-width: 1161px) {
  .main__container {
    justify-content: space-evenly;
  }
  .items__container {
    width: auto;
  }

}
@media screen and (max-width: 1127px) {
  .item {
    width: 300px;
  }
  .item__img-box {
    width: 60px;
    height: 40px;
  }  
}
@media screen and (max-width: 1000px) {
  .nav-bar ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .nav-bar ul li {
    margin-bottom: 10px;
  }
  .nav-bar-item-box {
    height: auto;
  }
  .simple-item {
    height: auto;
  }
  .simple-item__description {
    height: 50%;
  }
}
@media screen and (max-width: 767px) {
  .nav-bar {
    display: none;
  }
  .drawer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__container {
    height: 75vh;
    padding: 0 10px 0 0 ;
  }
  .item {
    width: 300px;
  }
  .item__img-box {
    width: 60px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
@media screen and (max-width: 691px) {
  .items__container,
  .item {
    width: 100%;
  }

  .item__img-box {
    width: 70px;
    height: 70px;
  }
  .simple-item__description {
    height: auto;
  } 
  .simple-item {
    flex-direction: column;
    height: 500px;
  }
  .simple-item__img-box img {
    width: 100% !important;
  }

}
/* @media screen and (max-width: 570px) {
 
  .simple-item {
   
  }
  .simple-item__img-box {
  
    
  }
  .simple-item__img-box img {
  }
  .simple-item__text {
    padding: 5px 5px;
  }
  .simple-item h4 {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .simple-tem__summa {
    margin: 0;
  }
  .simple-tem__summa p {
    font-size: 13px;
  }
  .simple-tem__summa span {
    padding: 2px 10px;
  font-size: 13px;
  
  }
  .simple-item__description {
    font-size: 10px;
  }
  .btn__close-modal {
    width: 20px;
    height: 20px;
  }
} */